﻿@model IPL.Models.WorkOrdersMaster
@{
    Layout = null;
}

@{
    ViewBag.Title = "WorkOrderView";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/Style.css" rel="stylesheet" />
    <style>
    </style>
</head>
<body style="font-family: Arial, sans-serif; font-style: normal; font-size: 15pt ">
    <div>
        @*<h4>Work Orders Master</h4>
            <hr />*@


        @{ if (Model != null)
            {
                <table style="font-family: Arial, sans-serif; font-style: normal; font-size: 15pt">
                    <tbody>
                        <tr>
                            <td> <h2>  Will Enterprises, LLC</h2></td>
                            <td style="padding-left: 150px; padding-top: 30px; font-weight: bold; font-size: 18px ">
                                <label> WO #:@Model.workOrderNumber   </label><br />
                                <label>IPLNO: @Model.IPLNO  </label><br />
                                <label>Work Type : @Model.WT_WorkType </label>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 350px ">
                                @Model.address1
                                @Model.city <br />
                                @Model.state,@Model.zip, Mo @Model.Com_Phone
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table>
                                    <tr>
                                        <th style="text-align: left; font-size: 20px">
                                            Work Order Information
                                        </th>
                                        <th></th>
                                        <th style="text-align: left; font-size: 20px">Assignment/Due Dates</th>
                                    </tr>
                                    <tr>
                                        <td style="width:1200px; border:2px solid black; padding-left:20px">
                                            <p>Client Company: @Model.Company<p />
                                            <p>Customer: @Model.Cust_Num_Number<p />
                                            <p>Loan Type: @Model.Loan_Number<p />
                                            <p>Address: @Model.address1<p />
                                            <p>Mobile No: @Model.Com_Phone<p />
                                            <p>Mortgager: @Model.Mortgagor<p />
                                            <p>Lock/Key Code: @Model.Lock_Code, Key  @Model.Key_Code</p>
                                            <p>Lot Size : @Model.Lotsize</p>

                                        </td>
                                        <td style="width:100px"></td>
                                        @{
                                            if (Model.IsFiledResult)
                                            {
                                                <td style="width: 1200px; border: 2px solid black; padding-left: 20px">
                                                    <p> Received Date: @Model.Received_Date </p>
                                                    <p>Due Date:@Model.dueDate<p />
                                                    <p>Assigned To : @Model.ContractorName<p />
                                                    <p><br /></p>
                                                    <p><br /></p>
                                                    <p><br /></p>
                                                    <p><br /></p>
                                                    <p><br /></p>
                                                </td>
                                            }
                                            else if (Model.IsOfficeResult)
                                            {
                                                <td style="width: 1200px; border: 2px solid black; padding-left: 20px">
                                                    <p>Received Date: @Model.Received_Date </p>
                                                    <p>Due Date:@Model.dueDate<p />
                                                    <p><br /></p>
                                                    <p><br /></p>
                                                    <p><br /></p>
                                                    <p><br /></p>
                                                    <p><br /></p>
                                                    <p><br /></p>
                                                </td>
                                            }
                                            else
                                            {
                                                <td style="width: 1200px; border: 2px solid black; padding-left: 20px">
                                                    <p>Received Date: @Model.Received_Date </p>
                                                    <p>Due Date:@Model.dueDate<p />
                                                    <p>Assigned To : @Model.ContractorName<p />
                                                    @*<p>Email: @Model.ContractorEmail<p />
                                                        <p>WO Admin: @Model.ContractorName<p />
                                                        <p>Email: @Model.CordinatorEmail<p />*@
                                                    <p><br /></p>
                                                    <p><br /></p>
                                                    <p><br /></p>
                                                    <p><br /></p>
                                                    <p><br /></p>
                                                </td>
                                            }
                                        }

                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr style="display:none">
                            <td colspan="2">
                                <table>
                                    <thead>
                                        <tr>
                                            <th style="border-bottom: 2px solid black; text-align: left; font-size: 20px; ">Comments</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td colspan="2">
                                                @Model.Comments
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @if (Model.Type == 4)
                                {
                                    <table>
                                        <thead>
                                            <tr>
                                                <th style="text-align: left; border-bottom: 2px solid black">Task Details</th>
                                                <th style="text-align: left; border-bottom: 2px solid black">Qty</th>
                                                <th style="text-align: left; border-bottom: 2px solid black">Price</th>
                                                <th style="text-align: left; border-bottom: 2px solid black">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.workOrderTaskMastersList)
                                            {
                                                if (item.Instr_ValType == 1)
                                                {
                                                    <tr>
                                                        <td style="width:450px;"><h5>@item.Task_Name </h5></td>
                                                        <td style="width: 200px;">@item.Instr_Qty</td>
                                                        <td style="width: 200px;">$ @Convert.ToDecimal(item.Instr_Contractor_Price).ToString("F")</td>
                                                        <td style="width: 200px;">$ @Convert.ToDecimal(item.Instr_Contractor_Total).ToString("F") </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border-bottom: 2px solid black" colspan="4">
                                                            @item.Inst_Comand_Mobile_details
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            <tr>
                                                <td colspan="3">
                                                    <b> Grand Total</b>
                                                </td>
                                                <td>
                                                    <b>$ @Model.GrandTotalAmt.ToString("F")</b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <br />
                                    <br />
                                    <br />
                                    <table>
                                        <thead>
                                            <tr>
                                                <th style="text-align: left; border-bottom: 2px solid black">Intruction Details</th>
                                                <th style="text-align: left; border-bottom: 2px solid black">Qty</th>
                                                <th style="text-align: left; border-bottom: 2px solid black">Price</th>
                                                <th style="text-align: left; border-bottom: 2px solid black">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.workOrderTaskMastersList)
                                            {
                                                if (item.Instr_ValType == 3)
                                                {
                                                    <tr>
                                                        <td style="width:450px;"><h5>@item.Task_Name </h5></td>
                                                        <td style="width: 200px;">@item.Instr_Qty_Text</td>
                                                        <td style="width: 200px;">$ @Convert.ToDecimal(item.Instr_Price_Text).ToString("F")</td>
                                                        <td style="width: 200px;">$ @Convert.ToDecimal(item.Instr_Total_Text).ToString("F") </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border-bottom: 2px solid black" colspan="4">
                                                            @item.Inst_Comand_Mobile_details
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            <tr>
                                                <td colspan="3">
                                                    <b> Grand Total</b>
                                                </td>
                                                <td>
                                                    <b>$ @Model.GrandTotalAmt2.ToString("F")</b>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                                else
                                {
                                    <table>
                                        <thead>
                                            <tr>
                                                @if (Model.Type == 1 || Model.Type == 2)
                                                {
                                                    <th style="text-align: left; border-bottom: 2px solid black">Work Order Details</th>
                                                    <th style="text-align: left; border-bottom: 2px solid black">Qty</th>
                                                    <th style="text-align: left; border-bottom: 2px solid black">Price</th>
                                                    <th style="text-align: left; border-bottom: 2px solid black">Total</th>
                                                }
                                                else if (Model.Type == 3)
                                                {
                                                    <th style="text-align: left; border-bottom: 2px solid black">Work Order Details</th>
                                                    <th style="text-align: left; border-bottom: 2px solid black">Int/Ext</th>
                                                    <th style="text-align: left; border-bottom: 2px solid black">Location</th>
                                                    <th style="text-align: left; border-bottom: 2px solid black">Qty</th>
                                                    <th style="text-align: left; border-bottom: 2px solid black">Price</th>
                                                }
                                                else if (Model.Type == 5)
                                                {
                                                    <th style="text-align: left; border-bottom: 2px solid black">Name</th>
                                                    <th style="text-align: left; border-bottom: 2px solid black">No.</th>
                                                    <th style="text-align: left; border-bottom: 2px solid black">Contact</th>
                                                    <th style="text-align: left; border-bottom: 2px solid black">Date</th>
                                                    <th style="text-align: left; border-bottom: 2px solid black">Deadline</th>
                                                    <th style="text-align: left; border-bottom: 2px solid black">Discovered</th>
                                                    <th style="text-align: left; border-bottom: 2px solid black">Fine Amount</th>
                                                }
                                                else if (Model.Type == 6)
                                                {
                                                    <th style="text-align: left; border-bottom: 2px solid black">Hazard Name</th>
                                                    <th style="text-align: left; border-bottom: 2px solid black">Description</th>
                                                    <th style="text-align: left; border-bottom: 2px solid black">Discovered</th>
                                                }
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model.workOrderTaskMastersList)
                                            {
                                                if (Model.Type == 1)
                                                {
                                                    if (Model.IsOfficeResult)
                                                    {
                                                        <tr>
                                                            <td style="width:450px;">
                                                                <h5>@item.Task_Name </h5>
                                                            </td>
                                                            <td style="width: 200px;">@item.Task_Bid_Qty</td>
                                                            <td style="width: 200px;">
                                                                $ @Convert.ToDecimal(item.Task_Bid_Clnt_Price).ToString("F")
                                                            </td>
                                                            <td style="width: 200px;">$ @Convert.ToDecimal(item.Task_Bid_Clnt_Total).ToString("F")  </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border-bottom: 2px solid black" colspan="4">
                                                                @item.Task_Bid_Comments
                                                            </td>

                                                        </tr>
                                                    }
                                                    else if (Model.IsFiledResult)
                                                    {
                                                        <tr>
                                                            <td style="width:450px;">
                                                                <h5>@item.Task_Name </h5>
                                                            </td>
                                                            <td style="width: 200px;">@item.Task_Bid_Qty</td>
                                                            <td style="width: 200px;">
                                                                $ @Convert.ToDecimal(item.Task_Bid_Cont_Price).ToString("F")
                                                            </td>
                                                            <td style="width: 200px;">$ @Convert.ToDecimal(item.Task_Bid_Cont_Total).ToString("F")  </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border-bottom: 2px solid black" colspan="4">
                                                                @item.Task_Bid_Comments
                                                            </td>

                                                        </tr>
                                                    }

                                                }
                                                else if (Model.Type == 2)
                                                {
                                                    if (Model.IsOfficeResult)
                                                    {
                                                        <tr>
                                                            <td style="width:450px;">
                                                                <h5>@item.Task_Name </h5>
                                                            </td>
                                                            <td style="width: 200px;">@item.Task_Inv_Qty</td>
                                                            <td style="width: 200px;">
                                                                $ @Convert.ToDecimal(item.Task_Inv_Clnt_Price).ToString("F")
                                                            </td>
                                                            <td style="width: 200px;">$ @Convert.ToDecimal(item.Task_Inv_Clnt_Total).ToString("F")  </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border-bottom: 2px solid black" colspan="4">
                                                                 @item.Task_Inv_Comments
                                                            </td>

                                                        </tr>
                                                    }
                                                    else if (Model.IsFiledResult)
                                                    {
                                                        <tr>
                                                            <td style="width:450px;">
                                                                <h5>@item.Task_Name </h5>
                                                            </td>
                                                            <td style="width: 200px;">@item.Task_Inv_Qty</td>
                                                            <td style="width: 200px;">
                                                                $ @Convert.ToDecimal(item.Task_Inv_Cont_Price).ToString("F")
                                                            </td>
                                                            <td style="width: 200px;">$ @Convert.ToDecimal(item.Task_Inv_Cont_Total).ToString("F")  </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="border-bottom: 2px solid black" colspan="4">
                                                                @item.Task_Inv_Comments
                                                            </td>

                                                        </tr>
                                                    }
                                                }
                                                else if (Model.Type == 3)
                                                {

                                                    <tr>
                                                        <td style="width:450px;">
                                                            <h5>@item.Damage_Type </h5>
                                                        </td>
                                                        <td style="width:450px;">@item.Task_Damage_Int </td>
                                                        <td style="width:450px;">@item.Task_Damage_Location </td>
                                                        <td style="width: 200px;">@item.Task_Damage_Qty</td>
                                                        <td style="width: 200px;">@item.Task_Damage_Estimate</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border-bottom: 2px solid black" colspan="5">
                                                            @item.Task_Damage_Disc
                                                        </td>
                                                    </tr>
                                                }
                                                else if (Model.Type == 5)
                                                {

                                                    <tr>
                                                        <td style="width: 200px;"><h5>@item.Task_Violation_Name </h5></td>
                                                        <td style="width: 200px;">@item.Task_Violation_Id</td>
                                                        <td style="width: 200px;">@item.Task_Violation_Contact</td>
                                                        <td style="width: 200px;">@item.Task_Violation_Date.ToString("MM/dd/yyyy")</td>
                                                        <td style="width: 200px;">@item.Task_Violation_Deadline.ToString("MM/dd/yyyy")</td>
                                                        <td style="width: 200px;">@item.Task_Violation_Date_Discovered.ToString("MM/dd/yyyy")</td>
                                                        <td style="width: 200px;">  $ @Convert.ToDecimal(item.Task_Violation_Fine_Amount).ToString("F")</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border-bottom: 2px solid black" colspan="7">
                                                            @item.Task_Violation_Comment
                                                        </td>
                                                    </tr>
                                                }
                                                else if (Model.Type == 6)
                                                {

                                                    <tr>
                                                        <td style="width:450px;"><h5>@item.Task_Hazard_Name </h5></td>
                                                        <td style="width: 200px;">@item.Task_Hazard_Description</td>
                                                        <td style="width: 200px;">@item.Task_Hazard_Date_Discovered.ToString("MM/dd/yyyy")</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="border-bottom: 2px solid black" colspan="3">
                                                            @item.Task_Hazard_Comment
                                                        </td>
                                                    </tr>
                                                }



                                            }
                                            @if (Model.Type == 1 || Model.Type == 2)
                                            {
                                                <tr>

                                                    <td colspan="3">
                                                        <b> Grand Total</b>
                                                    </td>
                                                    <td>
                                                        <b>$ @Model.GrandTotalAmt.ToString("F")</b>
                                                    </td>

                                                </tr>
                                            }
                                            @if (Model.Type == 3)
                                            {
                                                <tr>

                                                    <td colspan="4">
                                                        <b> Grand Total</b>
                                                    </td>
                                                    <td>
                                                        <b>$ @Model.GrandTotalAmt.ToString("F")</b>
                                                    </td>

                                                </tr>
                                            }
                                            @if (Model.Type == 5)
                                            {
                                                <tr>

                                                    <td colspan="6">
                                                        <b> Grand Total</b>
                                                    </td>
                                                    <td>
                                                        <b>$ @Model.GrandTotalAmt.ToString("F")</b>
                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                            </td>
                        </tr>

                    </tbody>

                </table>
            }
        }


        @*<table>
                <tbody>
                    <tr>
                        <td> <h1>  Will Enterprises, LLC</h1></td>
                        <td style="padding-left: 200px; padding-top: 30px; font-weight: bold; font-size: 18px; margin-left:55px ">
                            <label>
                                WO #:3454353453454353 PPW #:rr34erere
                            </label><br />
                            <label>
                                PPW #:rr34erere
                            </label><br />
                            <label>Work Type : SL - Grass Cut-Recut</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 500px ">
                            Will Enterprises, LLC
                            203 NE Panther Valley Street <br />
                            LESS SUMMIT, Mo 89899909090
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table>
                                <tr>
                                    <th style="text-align: left; font-size: 20px">
                                        Work Order Information
                                    </th>
                                    <th></th>
                                    <th style="text-align: left; font-size: 20px">Assignment/Dure Dates</th>
                                </tr>
                                <tr>
                                    <td style="width:1200px; border:2px solid black; padding-left:20px">
                                        <p> Client Comapany: Service Link</p>
                                        <p>
                                            Customer: 2324
                                        <p />
                                        <p>
                                            Loan Type: FHA
                                        <p />
                                        <p>
                                            Address: 431 2nd St Novinger, Mo 90989999
                                        <p />
                                        <p>
                                            Mortgager: PATRICIA, ELLSWORTH
                                        <p />
                                        <p>
                                            Lock/Key Code: LB:1 Key 34345
                                        <p />
                                        Lot Size: 3243242

                                    </td>
                                    <td style="width:100px"></td>
                                    <td style="width: 1200px; border: 2px solid black; padding-left: 20px ">
                                        <p>
                                            Received Date: July 14 2022
                                        <p />
                                        <p>
                                            Due Date: July 18 2022
                                        <p />
                                        <p>
                                            Assigned To : NA
                                        <p />
                                        WO Admin: Billende Belcher
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table>
                                <thead>
                                    <tr>
                                        <th style="border-bottom: 2px solid black; text-align: left; font-size: 20px">Commentes</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td colspan="2">
                                            an analytic, interpretative, or critical literary composition usually much shorter and less systematic and formal than a dissertation or thesis and usually dealing with its subject from a limited and often personal point of view
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table style="margin-top:20px">
                                <thead>
                                    <tr>
                                        <th style="text-align: left; border-bottom: 2px solid black">Work Order Details</th>
                                        <th style="text-align: left; border-bottom: 2px solid black">Qty</th>
                                        <th style="text-align: left; border-bottom: 2px solid black">Price</th>
                                        <th style="text-align: left; border-bottom: 2px solid black">Total</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>

                                        <td style="width:450px;">
                                            <h6> IMPORTANT DO NOT REMOVE UNAUTHERIZED ITEMS </h6>
                                        </td>
                                        <td>1</td>
                                        <td>
                                            0980
                                        </td>
                                        <td> 0980 </td>

                                    </tr>
                                    <tr>
                                        <td style="border-bottom: 2px solid black" colspan="4">
                                            an analytic, interpretative, or critical literary composition usually much shorter and less systematic and formal than a dissertation or thesis and usually dealing with its subject from a limited and often personal point of view
                                        </td>

                                    </tr>
                                    <tr>

                                        <td style="width:450px;">
                                            <h6> IMPORTANT DO NOT REMOVE UNAUTHERIZED ITEMS </h6>
                                        </td>
                                        <td>5</td>
                                        <td>
                                            0950
                                        </td>
                                        <td> 0950 </td>

                                    </tr>
                                    <tr>
                                        <td style="border-bottom: 2px solid black" colspan="4">
                                            an analytic, interpretative, or critical literary composition usually much shorter and less systematic and formal than a dissertation or thesis and usually dealing with its subject from a limited and often personal point of view
                                        </td>

                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <b>  Grand Total</b>
                                        </td>
                                        <td>
                                            <b> 555555</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            an analytic, interpretative, or critical literary composition usually much shorter and less systematic and formal than a dissertation or thesis and usually dealing with its subject from a limited and often personal point of view
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>

            </table>*@


    </div>
</body>
</html>
