﻿/*body {
    color: black;*/
    /*font-family: Arial, sans-serif;*/
    /* font-family: "Segoe UI", sans-serif;*/
    /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 65px;
}
table {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 65px;
    width: 100%;
    border-collapse: collapse;
}
td {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 65px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}*/




/*th {
    height: 70px;
}

td {
    width: 200px;
}*/
